body {
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffbb00;
    padding: 20px;
}

footer {
    background-color: #ffbb00;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
